.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/encodings.xml
.idea/**/pylint.xml
.idea/sonarlint/*
.mypy_cache
.pytest_cache
.coverage
coverage.xml
build
dist
yamldataclassconfig.egg-info
__pycache__/
/config.yml