[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
radon = "*"
twine = "*"
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/3865
docutils = "==0.15"
fixturefilehandler = "*"

[packages]
# To convert yaml to dictonary
pyyaml = "*"
# To convert dictonary to model
dataclasses-json = "*"

[requires]
python_version = "3.7"

[scripts]
test = "cd tests && pytest"
coverage = "cd tests && pytest --verbose --cov=yamldataclassconfig --cov-report=term-missing"
flake8 = "flake8 --max-line-length=120 --statistics --show-source --radon-show-closures ."
cc = "radon cc --show-complexity --min B ."
mi = "radon mi --show ."
clear = "rm -rf yamldataclassconfig.egg-info/* build/* dist/*"
build = "python setup.py sdist bdist_wheel"
deploy = "twine upload --repository pypi dist/*"
