name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [ '3.13', '3.12', '3.11', '3.10', '3.9', '3.8' ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv sync
      - run: uv run invoke test.all
  test_legacy_linux:
    # "It mostly works, especially on Linux and macOS, but it’s not officially supported.":
    # - uv tool run is giving "SyntaxError: Non-UTF-8 code starting with '\xe8' in file..." · Issue #12122 · astral-sh/uv
    #   https://github.com/astral-sh/uv/issues/12122#issuecomment-2761278707
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [ '3.7' ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install --ignore-requires-python uv
      - run: uv sync
      - run: uv run invoke test.all
  check_style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
        with:
          python-version: '3.13'
      - run: uv sync
      - run: uv run invoke style --check
  check_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
        with:
          python-version: '3.13'
      - run: uv sync
      - run: uv run invoke lint
  check_lint_deep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
        with:
          python-version: '3.13'
      - run: uv sync
      - run: uv run invoke lint.deep
